<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.AqiFeedbackMapper">
    
    <resultMap type="AqiFeedback" id="AqiFeedbackResult">
        <result property="feedbackId"    column="feedback_id"    />
        <result property="provinceId"    column="province_id"    />
        <result property="provinceName"    column="province_name"    />
        <result property="cityId"    column="city_id"    />
        <result property="cityName"    column="city_name"    />
        <result property="detailAddress"    column="detail_address"    />
        <result property="aqiLevelId"    column="aqi_level_id"    />
        <result property="aqiLevelName"    column="aqi_level_name"    />
        <result property="airDescription"    column="air_description"    />
        <result property="feedbackTime"    column="feedback_time"    />
    </resultMap>

    <sql id="selectAqiFeedbackVo">
        select feedback_id, province_id, province_name, city_id, city_name, detail_address, aqi_level_id, aqi_level_name, air_description, feedback_time from aqi_feedback
    </sql>

    <select id="selectAqiFeedbackList" parameterType="AqiFeedback" resultMap="AqiFeedbackResult">
        <include refid="selectAqiFeedbackVo"/>
        <where>  
            <if test="provinceId != null "> and province_id = #{provinceId}</if>
            <if test="provinceName != null  and provinceName != ''"> and province_name like concat('%', #{provinceName}, '%')</if>
            <if test="cityId != null "> and city_id = #{cityId}</if>
            <if test="cityName != null  and cityName != ''"> and city_name like concat('%', #{cityName}, '%')</if>
            <if test="detailAddress != null  and detailAddress != ''"> and detail_address = #{detailAddress}</if>
            <if test="aqiLevelId != null "> and aqi_level_id = #{aqiLevelId}</if>
            <if test="aqiLevelName != null  and aqiLevelName != ''"> and aqi_level_name like concat('%', #{aqiLevelName}, '%')</if>
            <if test="airDescription != null  and airDescription != ''"> and air_description = #{airDescription}</if>
            <if test="feedbackTime != null "> and feedback_time = #{feedbackTime}</if>
        </where>
    </select>
    
    <select id="selectAqiFeedbackByFeedbackId" parameterType="Long" resultMap="AqiFeedbackResult">
        <include refid="selectAqiFeedbackVo"/>
        where feedback_id = #{feedbackId}
    </select>

    <insert id="insertAqiFeedback" parameterType="AqiFeedback" useGeneratedKeys="true" keyProperty="feedbackId">
        insert into aqi_feedback
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="provinceId != null">province_id,</if>
            <if test="provinceName != null">province_name,</if>
            <if test="cityId != null">city_id,</if>
            <if test="cityName != null">city_name,</if>
            <if test="detailAddress != null">detail_address,</if>
            <if test="aqiLevelId != null">aqi_level_id,</if>
            <if test="aqiLevelName != null">aqi_level_name,</if>
            <if test="airDescription != null">air_description,</if>
            <if test="feedbackTime != null">feedback_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="provinceId != null">#{provinceId},</if>
            <if test="provinceName != null">#{provinceName},</if>
            <if test="cityId != null">#{cityId},</if>
            <if test="cityName != null">#{cityName},</if>
            <if test="detailAddress != null">#{detailAddress},</if>
            <if test="aqiLevelId != null">#{aqiLevelId},</if>
            <if test="aqiLevelName != null">#{aqiLevelName},</if>
            <if test="airDescription != null">#{airDescription},</if>
            <if test="feedbackTime != null">#{feedbackTime},</if>
         </trim>
    </insert>

    <update id="updateAqiFeedback" parameterType="AqiFeedback">
        update aqi_feedback
        <trim prefix="SET" suffixOverrides=",">
            <if test="provinceId != null">province_id = #{provinceId},</if>
            <if test="provinceName != null">province_name = #{provinceName},</if>
            <if test="cityId != null">city_id = #{cityId},</if>
            <if test="cityName != null">city_name = #{cityName},</if>
            <if test="detailAddress != null">detail_address = #{detailAddress},</if>
            <if test="aqiLevelId != null">aqi_level_id = #{aqiLevelId},</if>
            <if test="aqiLevelName != null">aqi_level_name = #{aqiLevelName},</if>
            <if test="airDescription != null">air_description = #{airDescription},</if>
            <if test="feedbackTime != null">feedback_time = #{feedbackTime},</if>
        </trim>
        where feedback_id = #{feedbackId}
    </update>

    <delete id="deleteAqiFeedbackByFeedbackId" parameterType="Long">
        delete from aqi_feedback where feedback_id = #{feedbackId}
    </delete>

    <delete id="deleteAqiFeedbackByFeedbackIds" parameterType="String">
        delete from aqi_feedback where feedback_id in 
        <foreach item="feedbackId" collection="array" open="(" separator="," close=")">
            #{feedbackId}
        </foreach>
    </delete>
</mapper>